.Burger {
  width: 400px;
  margin: auto;
  height: 40vh;
  overflow-y: scroll;
  text-align: center;
  font-weight: bold;
  font-size: 1.2rem;
}
@media screen and (max-width: 400px) {
  .Burger {
    width: 80vw;
  }
}
@media screen and (max-height: 500px) {
  .Burger {
    width: 50vw;
  }
}
@media screen and (max-height: 400px) {
  .Burger {
    width: 30vw;
  }
}
@media screen and (max-height: 650px) {
  .Burger {
    height: 37vh;
  }
}

@media screen and (max-height: 570px) {
  .Burger {
    height: 30vh;
  }
}
@media screen and (min-height: 1000px) {
  .Burger {
    width: 50vh;
  }
}
