.BuildControl {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 5px 0;
}
.BuildControl button {
	display: block;
	font: inherit;
	padding: 5px;
	margin: 0 5px;
	width: 80px;
	border: 1px solid #18ab29;
	border-radius:4px;
	cursor: pointer;
	outline: none;
	font-size:17px;
	color:#ffffff;
	background-color:#44c767;
}
.BuildControl button:hover {
	background-color:#5cbf2a;
}
.BuildControl button:active {
	position:relative;
	top:1px;
}
.BuildControl button:disabled {
	background-color:#dbb8b6;
	color: #616161;
	cursor: default;
}
.BuildControl .Less {
	background-color: #fa5950;
	border-color: #b53535;
	color: #fff;
}

.BuildControl .Less:hover {
	background-color: #f03c33;
}

.BuildControl .More {
	background-color: #36e825;
	color: #fff;
}
.Label {
	font-weight: bold;
	padding: 10px;
	width: 80px;
}
.CountLabel {
	text-align: center;
	font-weight: bold;
	width: 30px;
}