.BuildControl {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 5px 0;
}
.ButtonContainer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border: 1px solid #ccc;
	border-radius: 5px;
}
.BuildControl button {
	display: block;
	font: inherit;
	padding: 2px;
	width: 50px;
	border: 0;
	cursor: pointer;
	outline: none;
	font-size:20px;
	font-weight: bold;
	color: #F9B71C;
	background-color: #fff;
}

.BuildControl button:disabled {
	color: #616161;
	cursor: default;
}
.BuildControl .Less {
	border-radius: 5px 0 0 5px;
}

.BuildControl .More {

	border-radius: 0px 5px 5px 0px;
}
.Label {
	font-weight: bold;
	padding: 10px;
	width: 80px;
}
.CountLabel {
	text-align: center;
	font-weight: bold;
	width: 20px;
}