.Modal {
	z-index: 500;
	background-color: white;
	width: 70%;
	min-height: 300px;
	border: 1px solid #eee;
	box-shadow: 1px 2px 3px black;
	position: fixed;
  top: 10vh;
  left: 10vw;
  width: 80vw;
	box-sizing: border-box;
	transition: all 0.3s ease-out;
}
.Title {
	color: white;
	padding: 20px;
	text-align: left;
}
.Content {
	padding: 16px;
}
.Danger {
	border: 0;
}
.Danger .Title {
	background-color: #F04444;
}
.Success {
	border: 0;
}
.Success .Title {
	background-color: #3cc51e;
}
@media (min-width: 600px) {
	.Modal {
		width: 500px;
		left: calc(50% - 250px);
	}
}